In [1]:
import pandas as pd
import glob

In [10]:
path = r"C:\Users\mchun\CN-ML\time_series\progress\*.csv"
csv_files = glob.glob(path)
df_list = [pd.read_csv(file,delimiter=',') for file in csv_files]
combined_df = pd.concat(df_list, ignore_index=True)

In [13]:
df_51 = pd.read_csv("TG_51.csv",delimiter=',')
df_22 = pd.read_csv("TG_22.csv", delimiter=',')
df_c = pd.concat([df_51,df_22] ,ignore_index=True )
df_c

,name,sowing_date,harvesting_date,total_seeds,date_of_germination,number_of_seeds
0,TG_51,12-01-2023,02-05-2023,17,08-05-2023,17
1,TG_51,12-01-2023,02-05-2023,17,10-05-2023,17
2,TG_51,12-01-2023,02-05-2023,17,17-05-2023,17
3,TG_51,12-01-2023,02-05-2023,17,22-05-2023,17
4,TG_51,12-01-2023,02-05-2023,17,24-05-2023,17
5,TG_51,12-01-2023,02-05-2023,17,26-05-2023,17
6,TG_51,12-01-2023,02-05-2023,17,29-05-2023,17
7,TG_51,12-01-2023,02-05-2023,17,31-05-2023,17
8,TG_51,12-01-2023,02-05-2023,17,02-06-2023,17
9,TG_51,12-01-2023,02-05-2023,17,05-06-2023,17
10,TG_51,12-01-2023,02-05-2023,17,07-06-2023,17
11,TG_51,12-01-2023,02-05-2023,17,09-06-2023,17
12,TG_51,12-01-2023,02-05-2023,17,12-06-2023,17
13,TG_22,12-01-2023,02-05-2023,17,08-05-2023,0
14,TG_22,12-01-2023,02-05-2023,17,10-05-2023,0
15,TG_22,12-01-2023,02-05-2023,17,17-05-2023,0
16,TG_22,12-01-2023,02-05-2023,17,22-05-2023,0
17,TG_22,12-01-2023,02-05-2023,17,24-05-2023,0
18,TG_22,12-01-2023,02-05-2023,17,26-05-2023,0
19,TG_22,12-01-2023,02-05-2023,17,29-05-2023,0
20,TG_22,12-01-2023,02-05-2023,17,31-05-2023,0
21,TG_22,12-01-2023,02-05-2023,17,02-06-2023,0
22,TG_22,12-01-2023,02-05-2023,17,05-06-2023,0
23,TG_22,12-01-2023,02-05-2023,17,07-06-2023,0
24,TG_22,12-01-2023,02-05-2023,17,09-06-2023,0
25,TG_22,12-01-2023,02-05-2023,17,12-06-2023,17

In [14]:
combined_df = pd.concat([df_c , combined_df], ignore_index= True)
combined_df.to_csv("gnut_dataset.csv",sep=',',index=False)

In [15]:
combined_df.shape

(2158, 6)